<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
    <customcarousel></customcarousel>
    <div class="container" align="center">
        <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
            <a ng-click="refreshUser()" href="catalog">
                <!--<img ng-src="{{user.Company.LogoUrl}}" />-->
                <img ng-src="http://www.quality-resource.com/four51/caribou/BouGear-Logo.jpg"></img>
                <!--<div><span>Free shipping to Caribou Coffee Corporate Headquarters</br>now through Friday, October 30th</span></div>-->
            </a>
        </h2>
    </div>
</section>

